:host {
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
}

::ng-deep .line {
  fill: none;
  stroke: rgba(0, 30, 255, 1);
  stroke: rgba(240, 0, 255, 1);
  stroke: rgba(255, 231, 0, 1);
  stroke: rgba(116, 238, 21, 1);
  stroke: rgba(77, 238, 234, 1);
  stroke-width: 1.5px;
}
